* {
  background-color: rgb(0, 0, 0);
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Geneva, Tahoma;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.middle {
  display: flex;
  gap: 10px;
}

h1 {
  text-align: center;
}

.square {
  background-color: #333333;
}

.color {
  --color-l: 50%;
  --color-blue: hsl(238, 100%, var(--color-l));
}

.sketch {
  display: inline-grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  height: 700px;
  width: 700px;
}
