* {
  background-color: rgb(0, 0, 0);
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Geneva, Tahoma;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
}

h1 {
  text-align: center;
}

.square {
  background-color: #333333;
}

.sketch {
  display: inline-grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  height: 700px;
  width: 700px;
}
